body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
}
.col-xs-15 {
        width: 50%;
        float: left;
}
@media (max-width:  767px){
    #footer p{
        display: none;
    }
    .navbar-header{
        display: none;
    }
    .navbar-nav{
        display: none;
    }
    .navbar-form{
        margin-left: 0px !important;
    }
}
@media (max-width:  1180px){
    #button{
        right: 0px !important;
    }
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 33%;
        float: left;
    }

}

@media (min-width: 992px) {
    .col-md-15 {
        width: 25%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

#main{
    width: 100%;

}
#header{
    background-color:#1f29a5 ;
    position: fixed !important;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}
#slider{
    margin-top: 73px;
}
#slider img{
   width: 100%; 
   height: 450px;
}

#footer{
    background-color: #1f29a5;
}

#header{
    background-color: #1f29a5 ;
}
.logo{
	margin-top: 0px;
}
.flex{
	display: flex !important;
	justify-content: space-between !important;
}
.search-input{
	width: 500px !important;
	height: 42px !important;
	padding: 20px;
}
.dropdown{
	border: 1px solid black;
	background-color: white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
    height: 44px;
}
.dropdown a{
	color: black !important;
}
.search-main{
	display: flex;
}
.search-menu i{
	position: absolute;
	bottom: 14px;
	right: 12px;
	cursor: pointer;
}
.search-menu{
	position: relative;
}
.search-menu i:hover{
	color: coral;
}
.btn-control{
	margin-left: 40px;
	margin-right: 80px;
}
.mr-30{
	margin-right: 30px;
}
.dropdown-menu{
	overflow: scroll;
	height: 300px;
	overflow-x:hidden;
}


.h1{
    text-align: center;
}
.img-item{
    width: 214px;
    height: 122px;
}
li{
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding-bottom: 7px;
}
.h3{
    text-align: left;
    color: #e4e5ed !important;
}
.footer-ul{
    margin: 0;
    padding: 0;
    padding-top: 25px;
}
.footer-ul li a{
    color: #e4e5ed !important;
}
.content-item{
    background-color: #f1f4f8;
    padding-bottom: 100px;

}
.content-item h1{
    padding-top: 50px;
    padding-bottom: 20px;
}
.content-item--ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.content-item--ul li{
    margin-right: 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #c8c1c1;
}
#content h3{
    font-weight: bold;
    color: #00193c;
    font-size: 16px;
    margin-top: 10px;
}
#content p{
    font-size: 14px;
    line-height: 1.42857143;
    color: #707070;
}
.img-content-item{
    border: 1px solid black;
    margin: 0px auto;
    height: 200px;
    width: 154px;
}
.box-item h4{
    font-size: 14px !important;
    line-height: 25px !important ;
    font-weight: 600 !important;
    margin-top: 10px;
}
.box-item a{
    color: black;
}
.img-responsive{
    padding-top: 10px;
}
.box{
    background-color: white;
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
a{
    text-decoration: none;
}
.mh300{
    min-height: 300px;
}
#footer p {
    margin-top: 20px;
    color: white;
}
.box-image{
    position: relative;
    text-align: center;
    display: block;
    padding: 17px;
}
.box-image i{
    position: absolute;
    left: 4px;
    top: 17px;
}
.box-item{
    margin-left: 10px;
}
h1{
    font-size: 25px !important;
}
.active a:hover{
    background-color: #bbbb !important;
} 
a:hover{
    text-decoration: none !important;
    color: blue !important;
}  
.content-a h3:hover{
    color: red !important;
}
.footer-ul li a:hover{
    color: #a33a96 !important;
}
.content-last-list a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    display: block;
}
.content-last-list{
    padding-top: 5px;
}
.color{
    padding: 20px;
    border-radius: 5px;
    color: white !important;
    font-weight: bold !important;
    background: url("../image/content-last/bg_tab.png") no-repeat !important;
    background-position: -80px !important;
    margin-bottom: 30px;
    
}
.pd20{
    padding-left: 20px;
    margin-top: 5px;
}
.content-last h1{
    padding-left: 20px;
    margin-bottom: 30px;
    padding-top: 30px;
}
.color1{
    background-color: #53a8a5 !important;
}
.color2{
    background-color: #a8529f !important;
}
.color3{
    background-color: #9fa854 !important;
}
.color4{
    background-color: #49a85f !important;
}
.content-last{
    background-color: #f1f4f8;
    padding-bottom: 100px;
}
.mt-100{
    margin-top: 100px;
}
.content-view--h1{
    display: flex;
}
.content-view--h1 i{
    margin: auto 10px;
    color: blue;
}
.user-info img{
    width: 48px;
    height: 48px;
}
.user-info{
    display: flex;
}
.user-info--name{
    font-size: 13px;
}
.user-info--name a{
    margin-left: 10px;
}
.content-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 10px;
}
.iframe{
    width: 100%;
    min-height: 900px;
    border: 2px solid white;
    box-shadow: 1px 2px 3px;
    background-color: white;
}
.item-case--btn{
    padding: 7px 10px;
    border: 1px solid black;
    margin-left: 15px;
    border-radius: 4px;
    align-items: center;
    display: flex;
}
.item-case--btn span{
    margin: auto;
}
.color-btn span{
    padding: 0px 20px;
    color: #fff;
    text-transform: uppercase;
}
.color-btn{
    background-color: #fa0;
}
.item-case{
    display: flex;
}
.fa-envelope{
    color: #00ecbf;
}
.mh-800{
    min-height: 500px;
}
.w-1300{
    width: 1300px !important;
}
.mt-54{
    margin-top: 54px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-50{
    margin-bottom: 50px !important;
}
.text a{
    color: #707070;
}
.fa-file-word{
    color: blue;
    opacity: 0.6;
}
.personal img{
    width: 40px;
    height: 40px;
    margin: auto;
}
.personal{
    display: flex;
    position: relative;
    margin-right: 70px;
}
.personal-name{
    margin: auto;
    padding-left: 10px;
    max-width: 110px;
}
.personal-name a{
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    display: block;
}
.notify{
    display: flex;
    padding-left: 30px;
    cursor: pointer;
}
.notify i{
    margin: auto;
    font-size: 20px;
    color: white;
}
.personal-name a:hover{
    color: white !important;
}
.personal-info{
    position: absolute;
    left: 0;
    background-color: white;
    width: 150px;
    height: 180px;
    top: 53px;
    background-color: #f8f8f8;
}
.personal-info ul li{
    color: black;
    font-size: 13px;
    line-height: 30px;
}
.personal-info ul{
    padding: 19px;
}
.personal label:before {
    content: "";
    border: 7px solid transparent;
    border-right: 7px solid white;
    position: absolute;
    transform: rotate(0.25turn);
    top: 40px;
    left: 20px;
}
.personal-info li:hover{
    color: blue;
}
.hover-item{
    display: none;
}
.personal:hover .hover-item{
    display: block;
}
#logout{
    cursor: pointer;
}
.search-more{
    padding-left: 3px;
    padding-right: 3px;
    border: solid 2px #e2e8f0;
    border-radius: 5px;
    color: #666;
    text-decoration: none;

}
.search-more:hover{
    color: #006350 !important;
    border-color: #006350;
}
.menu-text{
    color: #00a888;
}
.hover:hover{
    color: #00a888 !important;
}
.actived{
    background-color: #00a888 !important;
    color: white !important;
}
#documentUp{
    font-size: 12px;
    color: #666;
}
.description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;

}
.col-10 h4:hover{
    color: blue;
}
.main-bg{
    background-color: #f8f8f8;
    font-family: Arial;
}
.mt-80{
    margin-top: 80px;
}
.pt-54{
    padding-top: 54px !important;
}
.mt-73{
    margin-top: 73px;
}
#select option{
    text-align: center;
}
.confirm-mail{
    margin: auto;
}
.confirm-mail h2{
    text-align: center !important;
    margin-bottom: 25px;
}
.confirm-mail p{
    color: chocolate;
    margin-bottom: 30px;
    z-index: 10;
}
.mt-200{
    margin-top: 200px;
}
.fa-check-circle{
    margin: auto;
    color: green;
    font-size: 50px;
    margin-bottom: 50px;
}
.succes-i{
    display: flex;
}
.confirm-mail span{
    text-align: center
}
.abc{
    display: flex;
}
.abc a{
    margin: auto;
}
.user-control{
    margin-top: 50px;
}
.user-control h4{
    text-align: center;
    font-size: 20px !important;
    margin-top: 10px;
}
.bdr{
    border-right: 1px solid black;
}
.flex1{
    display: flex;
    justify-content: center;
    
}
.flex1 h4{
    border-radius: 20px;
    width: 170px;
    cursor: pointer;
    margin: auto;
    padding: 3px;
}
.flex1 i{
    padding-right: 10px;
}
.comment{
    display: flex;
}
.img-user{
    padding: 20px;
    border-radius: 20px;
    background-image: url("https://media.store123doc.com/images/default/user_small.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 10px;
}
.form-control{
    border-radius: 15px !important;
}
.post{
    margin-left: 10px;
    border-radius: 15px !important;
}
.flex1 h4:hover{
    color: white;
    background-color: green;
}
.user-comment{
    height: 500px;
    margin-top: 40px;
}
.user-comment-line{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}
.user-comment h5{
    font-size: 14px;
    margin-bottom: 3px;
    font-weight: normal;
    margin-left: 10px;
}
.name-user{
    font-weight: bold !important;
    font-size: 12px !important;
}
.img-user-small{
    padding: 25px;
    background-image: url("https://media.store123doc.com/images/default/user_small.png");
    background-size: 100%;
    margin-right: 10px;
    background-repeat: no-repeat;
}
.comment-exts a{
    font-size: 10px;
    margin-right: 5px;
}
.comment-exts{
    margin-left: 10px;
}
.user-comment-item{
    width: 700px;
    border: 1px solid beige;
    border-radius: 10px;
    position: relative;
}
.user-comment-item:hover .remove{
    
    display: block !important;
}
.user-comment-item:hover{
    background-color: rgb(198, 214, 221);
}
.remove{
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
    display: none !important;

}
.remove:hover{
    color: cadetblue;
}
.modal-main{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
}
.modal-box{
    width: 620px;
    height: 500px;
    background-color: white;
    position: fixed;
    left: 450px;
    top: 120px;
    z-index: 4;
    border-radius: 5px;
}
.modal-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
}
.header-control{
    display: block;
    z-index: 1;
}
.modal-box--inner__header{
    margin-top: 10px;
    position: relative;
}
.modal-box--inner__header i{
    position: absolute;
    right: 14px;
    top: 7px;
    cursor: pointer;
}
.modal-box--inner__header i:hover{
    color:red;
}
.modal-box--inner__header h4{
    text-align: center;
    font-size: 18px;
    color: red;
}
#checked-radio{
    color: black;
}
#checked-radio:hover{
    color: rgb(175, 101, 48) !important;
}
#checked-radio label{
    cursor: pointer;
}
.form__modal-box--h4{
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 50px;
    color: rgb(131, 67, 21);
}
.submit__modalbox{
    display: flex;
}
.submit__modalbox button{
    margin: auto;
    padding: 10px;
    width: 100px !important;
}
.user__ad{
    background-image: url("../image/content-last/bg_tab.png");
    height: 98px;
    width: 100%;
    background-color: #00a888;
}
.container-1280{
    width: 1280px;
    margin: auto;
}
.user__bg-white--icon{
    position: relative;
    
}
.user__bg-white{
    background-color: white;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.user__bg-white--icon img{
    width: 96px;
    height: 96px;
    position: absolute;
    top: -40px;
    border: 2px solid #fff;
}
.user__name{
    margin-left: 130px;
}
.user__name h5{
    font-weight: 450 !important;
    font-size: 22px;
}
.message{
    margin-left: 13px;
    font-size: 12px;
    color: #999;
}
.message i{
    font-size: 13px;
    color: #999;
    margin-right: 4px;
}
.main-user--h4{
    text-align: center;
    margin-bottom: 50px;
}
.properties{
    padding: 12px;
    margin-bottom: 7px;
    font-size: 19px;
    font-weight: 400 !important;
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
}
.properties:hover{
    background-color: #00a888;
    color: white;
}
.border-program{
    background-color: white;
    padding: 0px 25px;
}
.h3-control{
    padding: 20px 0px;
    display: none;
}
.bg-two{
    background-color: #eceef1;
}
.user__name-form{
    padding-top: 15px;
    position: relative;
}
.setting-modify{
    position: absolute;
    top: 5px;
    right: 20px;
}
.user__infomation-item{
    position: relative;
}
.user__password-modify{
    position: relative;
}
.span-left{
    width: 200px;
    display: inline-block;
}
.publisher__register{
    margin-bottom: 50px;
    margin-top: 20px;
    width: 120px;
    margin: auto;
}
#program-form2 h4{
    padding: 20px 0px;
    text-align: center;
}
#program-form3 h4{
    padding: 20px 0px;
    text-align: center;
}
#program-form2{
    display: none;
}
#program-form3{
    display: none;
}
.active__select-control{
    background-color: #00a888;
    color: white;
}
#program-form1{
    display: none;
}
.active-form{
    display: block !important;
}
.mgl10{
    margin-left: 10px;
}
.pdb60{
    padding-bottom: 60px;
}
.remove-textalign{
    text-align: start !important;
}
.mt-30{
    margin-top: 30px;
}
.publisher__register-main{
    margin-top: 30px;
    display: flex;
}
.form__main{
    padding-bottom: 40px;
}
#login{
    margin-right: 20px;
}